{% load staticfiles %}
{% load material_form %}
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/favicon-16x16.png'%}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta name="viewport" content="width=device-width" />
  
  {% include 'material/includes/material_css.html' %}
  <link href="{% static 'assets/css/styles.css'%}" rel="stylesheet">

  <title>DataDucks</title>
</head>
<body>
  <div class="container">
    <header>
      <div class="logo-area">
        <div class="logo"></div>
        <h1>DataDucks</h1>
      </div>
    </header>
    <section>
      <p>
        Hey, do you feed ducks? <br />
        Please, take a little time to say how is your time with them. <br />
        You will help scientists to figure out how to help these beautiful animals!
      </p>
      <form action="/lead/" method="post">
        {% csrf_token %}
        {% form form=leadForm %}
        {% part form.fed_everyday %}
        <div class="row">
          <div class="checkbox-field col s12" id="id_fed_everyday_container">
            <label>
              <input class="filled-in " id="id_fed_everyday" name="fed_everyday" type="checkbox"><span
                for="id_fed_everyday">Do you feed the ducks everyday?</span></label>
          </div>
        </div>
        {% endpart %}
        {% part form.address %}
        <div class="row">
          <div class="input-field col s12" id="id_address_container">
            <input id="id_address" maxlength="200" name="address" type="text">
            <label for="id_address">What is the address where the ducks are fed?</label>
          </div>
        </div>
        <div id="map" class="map"></div>
        {% endpart %}
        {% endform %}
        <div class="g-recaptcha" data-sitekey="{{gcaptchakey}}"></div>
        
        {% if recaptchaError %}
        <div class="row">
          <div class="input-field col s12 required has-error" id="id_recaptcha_container">
            <div class="errors">
              <small class="error">{{recaptchaError}}</small>
            </div>
          </div>
        </div>
        {% endif %}        
        
        <button name="_submit" class="btn">Submit</button>
      </form>      
    </section>
  </div>
  
  <script src="https://code.jquery.com/jquery-3.5.0.slim.min.js"
  integrity="sha256-MlusDLJIP1GRgLrOflUQtshyP0TwT/RHXsI1wWGnQhs=" crossorigin="anonymous"></script>
  {% include 'material/includes/material_js.html' %}
  <script>
    $('#id_fed_time').datetimepicker({ datepicker:false, format:'H:i'});
  </script>
  <script src='https://www.google.com/recaptcha/api.js'></script>
  <script src="{% static 'assets/js/googlemaps-integration.js'%}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key={{gkey}}&libraries=places&callback=initAutocomplete" async defer></script>
</body>
</html>