body {
  background: #FFF;
  margin: 0;
  padding: 0;
}

.logo {
  background: url(../img/logo_dataducks.png) no-repeat center;
  background-size: contain;
  height: 55px;
  width: 55px;
  margin-top: 10px;
}

.logo-text {
  
}

header {
  background-color: #FFF;
  border-bottom: 1px solid #63af63;
  height: 67px;
  margin: 0;
  width: 100%;
}

section {
  height: 100px;
  width: 100%;
}

footer {
  background-color: rgb(8, 94, 56);
  height: 200px;
  width: 100%;
}